html{
  height: 100%;
  margin: 0;
  background-color: rgba(211, 211, 211, 0.110625) !important;
}

.navbar-burger{
  background-color: #000000;
  color: white;
}

.cs_borrow{
  margin-top: -4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #dcdcdc;
}

.cs-font{
  font-size: 120%;
}

.borrow-font{
  padding-top: -1px;
  font-size: 70%;
}

/* .avatarSmall{
  display: flex;
  justify-content: center;
} */

.navbar-menu.is-active {
  background-color: black !important;
}

.navbar-burger {
  color: #000000;
}

.navbar-burger active{
  color: #9a9a9a;
}

.navbar-item{
  /* position: relative; */
  color: rgb(255, 255, 255);
}

.navbar-item:hover {
  background-color: #ffffff;
  color: black;
}

.is-active {
  background-color: #dcdcdc !important;
  color: rgb(0, 0, 0) !important;
}

.navbar-end{
  display: flex;
  text-align: center;
  align-items: center;
}

.img-nav{
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.Login{
  background-color: #78A3FF;
  font-size: 12px;
  color:black;
  width: 60px;
  height: 35px;
}

.searchSmall{
  display: flex;
  align-items: center;
  border: 1px;
  border-radius: 20px;
  height: 30px;
  width: 200px;
  background-color: #dcdcdc;
  margin-right: 250px;
}

.searchSmall input{
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  width: 80%;
  /* font-size: 12px; */
}

.searchSmall img{
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 7px;
}

.searchSmall div{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  margin-right: 1px;
}

.search{
  display: flex;
  align-items: center;
  border: 1px;
  border-radius: 20px;
  height: 30px;
  width: 200px;
  background-color: #dcdcdc;
}

.search input{
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  width: 80%;
}

.search span{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

.search img{
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 7px;
  /* margin-right: 8px; */
}

.floating-button {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #78A3FF;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  width: 50px;
  height: 50px;
}

.floating-button:hover {
  background-color: #3374ff;
}

.cart{
  display: flex;
  margin-left: -9px;
  margin-top: 2px;
  justify-items: center;
}

.cart-img{
  width: 26px !important;
  height: 26px !important;
}

.flash-message {
  position: fixed;
  top: 0%;             /* Adjust this value to move it higher or lower */
  left: 50%;            /* Center horizontally */
  transform: translateX(-50%); /* Adjust for element's width */
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
  z-index: 1000;
  min-width: 250px;
  text-align: center;
  color: white;
  font-weight: bold;
  animation: slide-in 0.5s forwards, fade-out 0.5s 3s forwards;
}


@keyframes slide-in {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    right: -300px;
  }
}

.success {
  background-color: #4CAF50;
  color: white;
}

.error {
  background-color: #f44336;
  color: white;
}

.info {
  background-color: #2196F3;
  color: white;
}

.notLogin {
  background-color: #ff9800;
  color: white;
}

.OutOfStock {
  background-color: #b6d313;
  color: white;
}
