.card-header-title{
    font-size: 18px;
}

.card{
    position: relative;
    width: 280px;
    height: 300px;
}

.centerBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: scale(1.05);
}

.logo-header{
    width: 100%;
    height: 500px;
    background-image: url('/static/img/mini_warehouse.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.cs-borrow-header{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    /* background-color: black; */
}

.recommend{
    margin-top: 50px;
}

.recommend-font{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100% !important;
    text-align: center;
}

.PR-font{
    /* margin-top: 2%; */
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.swiper-container { 
    width: 95%;
    margin-top: 10px !important;
    margin: auto; 
}

.swiper-wrapper {
    display: fixed;
    align-items: center;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide-active {
    transform: scale(1.1);
}

.card-footer:hover{
    background-color: #78A3FF;
}

.card-footer-item{
    width: 100%;
}

.card-footer-item:hover{
    color: white;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.swiper-pagination-bullet {
    background-color: #78A3FF !important;
}


.infoleft{
    position: relative;
    width: 70%;
}

.infoH{
    font-size: 50px;
    font-weight: bold;
}

.infoDe{
    margin-top: 2%;
    font-size: 18px;
}

.information {
    display: flex;
    justify-content: center;  
    align-items: center;       
}

.Allinfo {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 8% !important;
    margin-bottom: 5% !important;
    color: black;
    width: 80%;  
}

.Mbutton {
    display: flex;
    align-items: center; 
    margin-top: 14%;
}

.Mbutton .button {
    margin-top: 10px; 
    width: 70%;
    background-color: #78A3FF;
    color: white;
}

#item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}
  
#item.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width:1024px){

    .infoH{
        
        font-size: 28px;
        font-weight: bold;
    }
    
    .infoDe{
        margin-top: 2%;
        font-size: 13px;
    }
}

@media (max-width: 768px) {

    .infoH{
        font-size: 28px;
        font-weight: bold;
    }
    
    .infoDe{
        margin-top: 2%;
        font-size: 13px;
    }

    .Mbutton {
        display: flex;
        align-items: center; 
        margin-top: 28%;
    }

    .logo-header{
        width: 100%;
        height: 300px;
        background-image: url('/static/img/mini_warehouse.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .cs-borrow-header{
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        font-size: 40px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
        /* background-color: black; */
    }

    .recommend-font{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width:685px){

    .infoH{
        font-size: 26px;
        font-weight: bold;
    }
    
    .infoDe{
        margin-top: 2%;
        font-size: 12px;
    }

}

@media (max-width: 640px){

    .infoH{
        font-size: 24px;
        font-weight: bold;
    }
    
    .infoDe{
        margin-top: 2%;
        font-size: 12px;
    }
}

@media (max-width: 599px){

    .infoH{
        font-size: 20px;
        font-weight: bold;
    }
    
    .infoDe{
        margin-top: 2%;
        font-size: 12px;
    }
}

@media (max-width: 599px){

    .infoH{
        font-size: 18px;
        font-weight: bold;
    }
    
    .infoDe{
        margin-top: 2%;
        font-size: 6px;
    }
}

@media (max-width: 426px) {
    .Allinfo {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-top: 8% !important;
        margin-bottom: 5% !important;
        color: black;
        width: 80%;  
        /* background-color: blue; */
    }

    .infoH{
        font-size: 16px;
        font-weight: bold;
    }
    
    .infoDe{
        margin-top: 2%;
        font-size: 5px;
    }

    .infoleft{
        width: 70%;
        /* background-color: antiquewhite; */
    }

    .Mbutton {
        display: flex;
        align-items: center; 
        margin-top: 27%;
        width: 30%;
        /* background-color: aquamarine; */
    }
    
    .Mbutton .button {
        margin-top: 10px; 
        width: 50%;
        background-color: #78A3FF;
        color: white;
        font-size: 8px;
    }

    .logo-header{
        width: 100%;
        height: 200px;
        background-image: url('/static/img/mini_warehouse.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .cs-borrow-header{
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
    }

    .PR-font{
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .recommend-font{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width: 376px) {

    .Mbutton .button {
        margin-top: 10px; 
        width: 50%;
        background-color: #78A3FF;
        color: white;
        font-size: 7px;
    }
    
    .logo-header{
        width: 100%;
        height: 150px;
        background-image: url('/static/img/mini_warehouse.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .cs-borrow-header{
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
    }

    .recommend-font{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width: 320px) {

    .Mbutton .button {
        margin-top: 10px; 
        width: 50%;
        background-color: #78A3FF;
        color: white;
        font-size: 6px;
    }
}