.card-header-title{
    font-size: 18px;
}

.centerBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 280px;
    height: 300px;
}

.card:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: scale(1.05);
}

.Item-found{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.container-found{
    width: 100% !important;
}

.Item-not-found{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: red;
}

.card-footer:hover{
    background-color: #78A3FF;
}

.card-footer-item{
    width: 100%;
}

.card-footer-item:hover{
    color: white;
}

.icon-card {
    position: absolute;
    margin: 10px 10px;
    background-color: rgb(255, 208, 0); /* สีพื้นหลัง */
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.add-something{
    display: fixed;
    width: 70%;
    margin-top: 40px !important;   
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.suggestions-box {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width:  50%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.search-borrow-things{
    width: 70%;
    background-color: #78A3FF;
}

.search-borrow-things:hover{
    background-color: #3864c2;
    color: white;
}

.Borrow{
    width: 70px !important;
}

.Borrow,.start_date,.end_date,.category,.amount{
    font-size: 90%;
    /* background-color: rgb(0, 0, 0); */
    color: black;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 25px;
    /* padding: 5px 5px; */
    /* width: 50px; */
    /* text-align: center; */
}

.amount{
    /* width: 75px !important;  */
}

.category{
    /* width: 85px !important;  */
}

input[id="start_date"]{
    
}
