.container{
    margin-top: 80px;
    /* justify-content: space-between; */
}

.add-file{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 500px;
    height: 40px;
    background-color: #ffffff;
    font-size: 100%;
    font-weight: 500;
    color: #dcdcdc;
    margin-bottom: 10px;
}

/* .file-text{
    font-size: 50%;
    font-weight: 500;
    color: #565656;
} */

.show-box{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    /* border: none; */
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    /* width: 150px;
    height: 80%; */
    max-width:  650px;
    max-height: min-height;
    background-color: #ffffff;
    padding: 20px;
    margin-top:25px;
    margin-bottom:25px;
    /* box-shadow:  0 1px 0 rgba(0, 0, 0, 0.3); */
    /* flex-direction: column;
    justify-content: flex-start; */
    flex-grow: 1;
    min-height: 100%;
}

.confirm-butt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 40px;
    background-color:#78A3FF;
    margin-left: 5px;
    /* padding-top: 10px; */
    padding-left: 30px;
    padding-right: 30px;
}


.big-box{
    align-items: center;
    justify-content: center;
    border: none;
    background-color: none;
    display: block;
}

.sb{
    justify-content: space-between;
}

.topic{
    font-size: 50%;
    text-underline-offset: 10px;
    font-weight: 600;
    text-align: center;
    /* box-shadow:  0 1px 0 rgba(0, 0, 0, 0.3); */
}

.curr-show-box {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* height: 50%; */
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 130%;
    /* border-bottom: 4px solid rgba(0, 0, 0, 0.2); */
    /* overflow: hidden; */
    /* transition: 0.75s; */
    padding-bottom: 10px;
    flex-shrink: 0;
}


.curr-show-box .columns {
    margin: 0;
    padding: 0;
    gap: 0;
}

.info-shadows {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
}

.box-shadows {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}


.info{
    font-size: 45%;
    font-weight: 500;
    color: #565656;
    background-color:0;
    padding-left: 10px;
    background-color: #fff;
    
}

.del-icon {
    width: 20px; 
    height: auto;
    padding-bottom: 5px;
    /* margin: none; */
}


.butt-row{
    border: none;
    margin: none;
}

.info-box:hover {
    /* box-shadow:  0 1px 0 rgba(0, 0, 0, 0.3); */
    /* background-color: #f0f0f0; */
    transition: 0.3s;
    transform: scale(1.05);
}

.info-box{
    /* border-radius: 20%; */
    margin: 2px;
    box-shadow:  0 1px 0 rgba(0, 0, 0, 0.3);
    flex-grow: 1;
}

.columns.sb.big-box {
    display: flex;
    align-items: stretch; 
    gap: 20px;
}
