{% extends "base.html" %}
{% block content %}
<link href="/static/css/borrowed.css" rel="stylesheet">

    <div class="container" style="margin-top: 30px;">
            <div class="text-title">Borrowing</div>
                <div class="head-table">
                    <!-- head table -->
                    <div class="columns is-fixed">
                        <div class="column is-fixed">
                        <div class="info-shadows">
                            <div class="text-head">Item</div>
                        </div>
                        </div>
                        <div class="column is-fixed">
                        <div class="info-shadows">
                            <div class="text-head">Amount</div>
                        </div>
                        </div>
                        <div class="column is-fixed">
                        <div class="info-shadows">
                            <div class="text-head">Certifier</div>
                        </div>
                        </div>
                        <div class="column is-fixed">
                        <div class="info-shadows">
                            <div class="text-head">Date</div>
                        </div>
                        </div>
                        <div class="column is-fixed">
                            <div class="text-head">Status</div>
                        </div>
                    </div>
                </div>

    {% for data in borrow_data %}
    {% for item_name, count in data.item_counts.items() %}
    <div class="box-borrowed" style="margin-bottom: 20px;">
        <!-- first request -->
        <div class="columns is-fixed">
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-element">{{ item_name }}</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-element">{{ count }}</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-element">{{ data.verifier }}</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-element">From {{ data.borrow_date.split()[1] }}<br>To {{ data.borrow_date.split()[3] }}</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="text-element">{{ data.date_left }} {{ data.status }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}