{% extends "base.html" %}
{% block content %}
<link href="/static/css/history_approve.css" rel="stylesheet">
<div class="container" style="margin-top: 30px;">
    <p class="text-title">History</p>
    <div class="head-table">
        <div class="columns is-fixed">
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-head">Borrower</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-head">Item</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-head">Amount</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="info-shadows">
                    <div class="text-head">Certifier</div>
                </div>
            </div>
            <div class="column is-fixed">
                <div class="info-shadows-last">
                    <div class="text-head">Date</div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="history-app">
        {% for req in history %}
        <div class="columns is-fixed" style="align-items: center; display: flex; flex-wrap: nowrap;">
            <!-- Borrower -->
            <div class="column is-fixed" style="display: flex; align-items: center; width: 20%; padding: 5px;">
                <div class="info-shadows">
                    <div class="text-element">{{ req.name }}</div>
                </div>
            </div>

            <div class="column is-fixed" style="display: flex; flex-direction: column; padding: 5px; width: 30%;">
                {% for item_name, count in req.item_counts.items() %}
                <div class="columns is-fixed">
                    <div class="column is-fixed" style="padding: 5px;">
                        <div class="info-shadows">
                            <div class="text-element">{{ item_name }}</div>
                        </div>
                    </div>
                    <div class="column is-fixed" style="padding: 5px;">
                        <div class="info-shadows">
                            <div class="text-element">{{ count }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Certifier and Date -->
            <div class="column is-fixed" style="display: flex; align-items: center; width: 20%; padding: 5px;">
                <div class="info-shadows">
                    <div class="text-element">{{ req.verifier }}</div>
                </div>
            </div>
            <div class="column is-fixed" style="display: flex; align-items: center; width: 20%; padding: 5px;">
                <div class="info-shadows">
                    <div class="text-element">{{ req.date_bo }} - {{ req.date_re }}</div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>

</div>
{% endblock %}