{% extends "base.html" %}
{% block content %}


<div class="container is-centered">
    <div class="columns is-justify-content-center">
      <button class="button add-file" type="button" name="file" accept=".csv" onclick="document.getElementById('fileInput1').click()">
      <br><span id="file-name" style="font-size: 1.2em; color: #ababab;">Add file here</span>
      </button>
      <input type="file" id="fileInput1" style="display: none;">
      <button class="button confirm-butt" style="font-weight: 400;font-size: 100%;" >Add</button>
    </div>

    <div class="columns sb big-box">
      <div class="column is-half show-box" >
        <div class="columns curr-show-box is-centered">
          <span class="topic info-shadows">Teacher Information</span>
        </div>

        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 

        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 


        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 


        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 


        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 

        

      </div> <!--Teacher-->


      <div class="column is-half show-box" >
        <div class="columns curr-show-box is-centered">
          <span class="topic info-shadows">Student Information</span>
        </div>

        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 


        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 


        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 


        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        
        <div class="columns info-box">
          <div class="column is-four-fifths">
            <span class="info">pantawan0304@gmail.com</span>
          </div>
          <div class="column is-centered is-flex is-justify-content-center">
            <button class="d-butt butt-row" data-id="1">
              <img src="static/ico/del_button.png" alt="Delete" class="del-icon">
            </button>
          </div>
        </div> 
        

      </div> <!--Student-->


    </div> <!--end big row-->
</div> 

<script>

  document.getElementById('fileInput1').addEventListener('change', function(event) {
              const file = event.target.files[0];
              const fileNameSpan = document.getElementById('file-name');
              if (file) {
                  fileNameSpan.textContent = file.name;
                  const reader = new FileReader();
                  reader.onload = function(e) {
                      const show = document.getElementById('preview1');
                      show.src = e.target.result;
                      show.style.display = 'block';
                  };
                  reader.readAsDataURL(file);
              } else {
              fileNameSpan.textContent = "Add file here"; 
    }
 }); 

 $(document).on("click", ".d-butt", function(event) {
    event.preventDefault();
    let $row = $(this).closest("#each-item");  
    let itemId = $(this).data("id");  

    Swal.fire({
              title: "Do you want to delete?",
              text: "You are deleting this item",
              icon: "warning",
              confirmButtonText: "Delete",
              cancelButtonText: "Cancel",
              showCancelButton: true
          }).then((result) => {
              if (result.isConfirmed) {
                $.ajax({
                url: "/delete_item", 
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ "id": itemId }),
                success: function(response) {
                    if (response.success) {
                        Swal.fire("Deleted!", response.message, "success");
                        $row.fadeOut(300, function() { $(this).remove(); }); 
                    } else {
                        Swal.fire("Error!", response.message, "error");
                    }
                },
                error: function(xhr) {
                    Swal.fire("Error!", "Server error: " + xhr.status + " " + xhr.statusText, "error");
                }
            });
        }
    });
  });

  $(document).on("click", ".confirm-butt", function(event) {
    event.preventDefault();
    let $row = $(this).closest("#each-item");  
    let itemId = $(this).data("id");  

    Swal.fire({
              title: "Do you want to add file?",
              text: "You are adding file",
              icon: "question",
              confirmButtonText: "Confirm",
              cancelButtonText: "Cancel",
              showCancelButton: true
          }).then((result) => {
              if (result.isConfirmed) {
                $.ajax({
                url: "/delete_item", 
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ "id": itemId }),
                success: function(response) {
                    if (response.success) {
                        Swal.fire("Deleted!", response.message, "success");
                        $row.fadeOut(300, function() { $(this).remove(); }); 
                    } else {
                        Swal.fire("Error!", response.message, "error");
                    }
                },
                error: function(xhr) {
                    Swal.fire("Error!", "Server error: " + xhr.status + " " + xhr.statusText, "error");
                }
            });
        }
    });
  });

  
</script>
<link rel="stylesheet" href="static/css/manage_users.css">
{% endblock %}
